<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    
    RewriteBase /Sem/

    # 1. جلوگیری از دسترسی مستقیم به پوشه‌های حساس
    RewriteRule ^(app|vendor|storage|\.env|composer\.json|\.git) - [F,L]

    # 2. هدایت همه درخواست‌ها به index.php اگر فایل یا پوشه واقعی نباشند
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>